<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Welcome to home page Mr.{{name}}</h1> -->
    <h1>Welcome to home page Mr.{{data.name}}</h1>
    <h1>Simple data Input form from front to backend</h1>
    <h1>Enter Two number</h1>

    <form action="/about" method="post">
        <input type="text" , name="num1", required = "required">
        <br><br>

        <br><input type="text" , name="num2", required = "required"><br>

        <input type="submit" value="add">

</body>
</html>